*{
    margin: 0;padding: 0;box-sizing: border-box;
}
.App{
    width: 100;
    height:100vh;
    display: flex;
    flex-direction: column;
}
header{
    flex: 0.2;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.DarkmodeToggle{
    background: white;
    width: 80px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-radius: 30px;
}
.DarkmodeSwitch{
    background: greenyellow;
    padding: 10px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-radius: 30px;
}
.DarkmodeSwitchRed{
    background: black;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-radius: 30px;
}
main{
    flex:0.8;
    background: slategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > p:first-child{
    margin-bottom: 10px;
    border: 2px solid black;
    background-color: white;
}
p{
    background-color: darkcyan;
    padding: 1rem;
    text-transform: capitalize;
}

.active{
    background: gray !important;
    color: black;
}

.activeBg{
    background: limegreen;
}
.activeMain{
    background: Black;
}